.FD{
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(8, 241, 202);
    padding: 4px 8px;
    font-size: x-large;
    text-align: center;
}

.S{
    font-size: xx-large;
}

.D{
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(8, 241, 202);
    padding: 4px 8px;
    font-size: x-large;
    text-align: center;
    background-color: white;
}

#F1{
   text-decoration: none;
   background-color: rgb(212, 207, 207); 
   border-color: rgb(107, 100, 100); 
   border-radius: 50px;
   font-size: xx-large;
   padding: 5px 10px;

}

#F2{
    text-decoration: none;
    background-color: rgb(212, 207, 207); 
    border-color: rgb(107, 100, 100); 
    border-radius: 50px;
    font-size: xx-large;
    padding: 5px 10px;
 
 }

 #F3{
    text-decoration: none;
    background-color: rgb(212, 207, 207); 
    border-color: rgb(107, 100, 100); 
    border-radius: 50px;
    font-size: xx-large;
    padding: 5px 14px;
 
 }

 #F4{
    text-decoration: none;
    background-color: rgb(212, 207, 207); 
    border-color: rgb(107, 100, 100); 
    border-radius: 50px;
    font-size: xx-large;
    padding: 5px 10px;
 
 }

body{
    background-color: rgb(0, 255, 234);
    text-align: center;
    font-size: xx-large;
}

